@font-face {
  font-family: "iconfont"; /* Project id 4105911 */
  src: url('iconfont.woff2?t=1696005361528') format('woff2'),
       url('iconfont.woff?t=1696005361528') format('woff'),
       url('iconfont.ttf?t=1696005361528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyiyungrey:before {
  content: "\e614";
}

.icon-wangyiyun:before {
  content: "\e600";
}

.icon-jiantou:before {
  content: "\e631";
}

.icon-jiantou-copy-copy:before {
  content: "\e633";
}

